* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header {
    height: 40px;
    /*background-color: yellow;*/
    margin-bottom: 50px;
}
h1 {
    text-align: center;
}
.content {
    margin: auto;
    width: 620px;
    text-align: center;
}
.block-item {
    width: 200px;
    float: left;
}
.block-item:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.clear {
    clear: both;
}
.margin {
    margin-left: 5px;
    margin-right: 5px;
}
.days {
    background-color: #0098ba;
    text-align: center;
    height: 35px;
    font-size: 30px;
    color: white;
}
.block-img {
    height: 180px;
    vertical-align: middle;
    display: flex;
    align-items: center;
}
.block-img img {
    margin: auto;
}
.degrees {
    font-size: 40px;
    text-align: center;
}
.footer {
    height: 40px;
    /*background-color: yellow;*/
    margin-top: 50px;
}